<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>User page</title>
</head>
<body>

<h1>User information-page</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Email</th>
        <th>Role</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.getId()}">ID</td>
        <td th:text="${user.getFirstName()}">First Name</td>
        <td th:text="${user.getLastName()}">Last Name</td>
        <td th:text="${user.getAge()}">Age</td>
        <td th:text="${user.getEmail()}">Email</td>
        <td th:text="${#strings.listJoin(user.getRoles(), ' ')}">Role</td>
    </tr>
    </tbody>
</table>

</body>
</html>